*.suo
*.sdf
*.opendb
*.vcxproj
*.user
*.tlog
*.dll
*.suo
*.sdf
*.opendb
*.vcxproj
*.user
*.tlog
*.dll
*.bsc
*.ilk
*.pdb
*.exe
*.dll
*.obj
*.sbr
*.dgml
*.filters
*.sln
*.idb
*.log
*.zip
*.zip
*.o
*.*~
*~
*
!*.*
